<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        {{{_sections.head}}}
    </head>
    <body>
        <div class="container">
            <header>
                <div class="container">
                    <h1>Meadowlark Travel</h1>
                    <img src="/img/logo.png" alt="Meadowlark Travel Logo">
                </div>
            </header>
            <div class="container">
                {{{body}}}
                {{{_sections.scripts}}}
            </div>
            <footer>&copy; 2026 Meadowlark Travel.</footer>
        </div>
    </body>
</html>